@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel-3d {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #B88E2F !important;
    font-size: 20px !important;
    background: #fff;
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.swiper-button-prev {
    top: 50% !important;
    right: 0px !important;
}

.swiper-button-next {
    top: 50% !important;
    left: 92% !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 22px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper-pagination {
    display: none;
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10 !important;
    bottom: 39px !important;
}

/* Black */
/* Poppins Fonts - Add this below PlayfairDisplay & Alike fonts */

/* Thin */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Thin Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Extra Light */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Extra Light Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ExtraBold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Black Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../webfonts/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
