.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 20px !important;
    right: 0rem !important;
    left: -3rem !important;
}

.swiper-button-next {
  right: 2rem !important; 
  left: auto !important; /* or adjust as needed */
  background: #00000059;
  color: #fff !important;
  font-size: 8px !important;
}

.swiper-button-prev {
  left: 1rem !important; 
  right: auto !important; /* or adjust as needed */
  background: #00000059;
  color: #fff !important;
  font-size: 8px !important;
}

@media screen and (max-width: 768px) {
  .swiper-button-next {
    right: 1rem !important; 
    left: auto !important; /* or adjust as needed */
    background: #00000059;
    color: #fff !important;
    font-size: 2px !important;
  }
  
  .swiper-button-prev {
    left: 1rem !important; 
    right: auto !important; /* or adjust as needed */
    background: #00000059;
    color: #fff !important;
    font-size: 2px !important;
  }

  .swiper-button-next::after{
    font-size: 6px !important;
  }
  .swiper-button-prev::after{
    font-size: 6px !important;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  } 
}

.custom-bullet {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.custom-bullet .progress {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: white;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.custom-bullet.active {
  width: 50px;
   background-color: #bbb; 
  border-radius: 10px;
}
